
.modalScreen {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;

  background: rgba(0, 0, 0, 0.35);

  z-index: 10000;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  font-size: 1em;

  width: 100%;
  max-width: 450px;

  background: #fff;

  padding: 1.5em 2em;

  border-radius: .25em;
}