
/* Null styles */
*{padding:0;margin:0;border:0}*,:after,:before{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}:active,:focus,a:active,a:focus{outline:0}aside,footer,header,nav{display:block}body,html{height:100%;width:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%}button,input,textarea{font-family:inherit}input::-ms-clear{display:none}button{cursor:pointer}button::-moz-focus-inner{padding:0;border:0}a,a:hover,a:visited{text-decoration:none}ul li{list-style:none}img{vertical-align:top}h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit}a{color: inherit}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

html {
    font-size: 18px;
}


:root {
    --appFontSize: 1rem;
    --containerWidth: 1600px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: var(--appFontSize);
    background: var(--gray-500);

    overflow: hidden;
}

body:not(.theme-dark) {

    --text-medium: hsl(210, 8%, 25%);

    --opacity-xs: .9;
    --opacity-sm: .75;
    --opacity-xl: .55;

    --gray-400: hsl(0, 0%, 98%);
    --gray-500: hsl(0,0%, 96%);
    --gray-600: hsl(0,0%, 92%);
    --gray-700: hsl(0,0%, 88%);
    --gray-800: hsl(0,0%, 84%);

    --gray-md: hsl(0, 0%, 74%);
    --gray-xl: hsl(0, 0%, 66%);

    --white: hsl(0, 0%, 100%);

    --black-transparent-600: hsl(0, 0%, 25%, 65%);
    --black-600: hsl(0, 0%, 25%);
    --black-700: hsl(0, 0%, 30%);
    --black: hsl(0, 0%, 0%);

    --red-500: hsl(358, 59%, 63%);
    --red-600: hsl(358, 61%, 47%);
    --red-700: hsl(358, 63%, 41%);

    --orange-transparent-400: hsl(27, 87%, 72%, 20%);
    --orange-transparent-500: hsl(27, 95%, 85%, 25%);
    --orange-500: hsl(27, 87%, 72%);
    --orange-600: hsl(27, 89%, 65%);
    --orange-700: hsl(27, 91%, 55%);
    --orange-800: hsl(27, 95%, 39%);

    --blue-400: hsl(216, 95%, 77%);
    --blue-500: hsl(216, 90%, 64%);
    --blue-600: hsl(214, 90%, 57%);
    --blue-700: hsl(214, 90%, 46%);

    --shadow-dark-500: hsl(0, 0%, 0%, 15%);
    --shadow-dark-600: hsl(0, 0%, 0%, 35%);
    --shadow-dark-700: hsl(0, 0%, 0%, 50%);
}


@media screen and (max-width: 554px) {
    :root {
        --appFontSize: 0.9rem;
    }
}