
.addQuestionPage {


  padding-top: 2em;
}

.questionForm {
  width: 100%;
  max-width: 36em;
  min-width: 24em;

  margin: 0 auto;

  background: #ffffff;
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.15);

  padding: 1.5em 2em;

  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.questionControls {
  display: flex;
  gap: 1em;
}