

.menuContainer {
  font-size: 1em;
  position: relative;
}

.menu {
  position: absolute;
  top: 151%;
  right: 0;

  background: #ffffff;

  white-space: nowrap;

  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.35);

  animation: appear .35s ease-in-out;
}

.menuItem {
  border-bottom: 1px solid rgba(0, 0, 0, 0.35);

  &  > * {
    display: inherit;
    padding: .75em 2em;
  }
}

.menuItemLogout {
  @extend .menuItem;

  display: flex;
  align-items: center;
  gap: .5em;
}


@keyframes appear {
  0% {
    clip-path: circle(0 at top);
  }

  100% {
    clip-path: circle(250% at top);
  }
}
