

.menuContainer {
  font-size: 1em;
  position: relative;
}

.menu {
  position: absolute;
  top: 151%;
  right: 0;

  background: #ffffff;

  white-space: nowrap;

  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.35);
}

.menuItem {
  border-bottom: 1px solid rgba(0, 0, 0, 0.35);

  &  > * {
    display: inherit;
    padding: .75em 2em;
  }
}

.menuItemButton {
  transition: background 0.3s ease, color .3s ease;
  &:focus {
    background: rgba(0, 0, 0, 0.05);
    font-weight: bold;
  }
}

.menuItemLogout {
  @extend .menuItem;
  @extend .menuItemButton;

  display: flex;
  align-items: center;
  gap: .5em;
}
