@import "../../common/styles/variables.scss";


.modalScreen {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;

  background: rgba(0, 0, 0, 0.35);

  z-index: 10000;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  font-size: 1em;

  width: 100%;
  max-width: 450px;

  background: #fff;

  padding-block: 1em;

  border-radius: .5em;
  overflow: hidden;

  margin: 1em;

  position: relative;
}

.modalCloseButton {
  position: absolute;

  right: 1em;
  top: 1em;

  background: transparent;
  font-size: 1em;
}

.modalCloseIcon {
  font-size: 1em;
}

.modalHeader {
  font-size: 1em;
  width: 100%;
  color: #fff;

  padding: 0.25em 1em;
  margin-bottom: .5em;
}

.modalTitle {
  font-size: 1.25em;
  line-height: 150%;
}

.modalTitleDanger {
  color: var(--red-600)
}

.modalSubtitle {
  font-size: 1em;
  line-height: 150%;
}

.modalBody {
  display: flex;
  flex-direction: column;
  gap: .5em;
  padding-inline: 1em;

  margin-bottom: 1em;
}

.modalText {
  font-size: .75em;
  font-weight: 400;
  line-height: 150%;

  color: var(--text-medium);
}

.modalControls {
  display: flex;
  gap: .75em;
  padding-inline: 1em;
}