@import '../../styles/variables.scss';

.commonButton {
  display: inline-block;
  font-size: .8em;

  padding: 0.6em 1.5em;
  border-radius: .3em;
  text-align: center;
}

.commonButtonOrange {
  @extend .commonButton;
  background: $primaryOrange;
  color: #ffffff;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5em;

  &:focus {
    box-shadow: 0 0 0 5px rgba(255, 144, 53, 0.7);
    outline: black;
  }

  &[disabled] {
    opacity: .5;
    pointer-events: none;
  }
}

.commonButtonGray {
  @extend .commonButton;
  background: $primaryGray;
  color: $grayButtonTextColor;
  font-weight: bold;
}
