

.commonButton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: .5em;

  font-weight: bold;
  font-size: .8em;
  line-height: 125%;

  padding: 0.75em 1.5em;
  border-radius: .3em;
  text-align: center;

  --background: transparent;
  --shadowColor: var(--gray-600);
  --color: var(--black);

  background: var(--background);
  color: var(--color);

  &:hover {
    --background: var(--gray-500);
  }

  &:focus {
    box-shadow: 0 0 0 4px var(--shadowColor);
  }

  :is(&[disabled], &[aria-disabled="true"]) {
    pointer-events: none;
    opacity: 0.65;
  }
}

.primaryOrange {
  @extend .commonButton;

  --background: var(--orange-700);
  --color: var(--white);

  &:hover {
    --background: var(--orange-800);
  }

  &:focus {
    --shadowColor: var(--orange-500);
  }
}

.primaryGray {
  @extend .commonButton;

  --background: var(--gray-600);
  --color: var(--blue-700);

  &:hover {
    --background: var(--gray-700);
  }

  &:focus {
    --shadowColor: var(--blue-400);
  }
}

.primaryDanger {
  @extend .commonButton;

  --background: var(--red-700);
  --color: var(--white);

  &:focus {
    --shadowColor: var(--red-500);
  }

  &:hover {
    --background: var(--red-600);
  }
}