@import '../../styles/variables.scss';

.commonButton {
  display: inline-block;
  font-size: .8em;

  padding: 0.8em 1.5em;
  border-radius: .3em;
  text-align: center;
}

.commonButtonOrange {
  @extend .commonButton;
  background: $primaryOrange;
  color: #ffffff;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5em;

  &:focus {
    outline: transparent;
    box-shadow: 0 0 0 3px rgba(255, 144, 53, 0.7);
  }

  &[disabled] {
    opacity: .5;
    pointer-events: none;
  }
}

.logoutButton {
  font-size: 1em;
  background: transparent;

  color: #FF0000;
  display: flex;
  align-items: center;
  gap: .35em;
}

.commonButtonGray {
  @extend .commonButton;
  background: $primaryGray;
  color: $grayButtonTextColor;
  font-weight: bold;

  display: grid;
  place-content: center;

  &:focus {
    box-shadow: 0 0 0 3px rgba(22, 130, 253, 0.7);
  }
}

.discardButton {
  @extend .commonButton;

  background: var(--red-600);
  color: #fff;

  &:hover {
    background: var(--red-700);
  }

  &:focus {
    box-shadow: 0 0 0 4px var(--red-focus);
    outline: none;
  }
}

.secondaryButton {
  @extend .commonButton;
  background: none;

  opacity: .8;
}
