
.menuContainer {
  min-height: 100%;
  position: relative;
}

.menuBody {
  height: 100%;
}

.menuDropdown {
  position: absolute;
  bottom: 0;
  right: 0;

  background: var(--white);
  white-space: nowrap;

  border: 1px solid var(--gray-xl);
  border-radius: 0.3em;
  overflow: hidden;

  transform: translateY(115%);
}

.menuDropdownItem {


  & > * {
    font-size: 1em;
    width: 100%;

    padding: .75em 2.5em;
  }
}

.menuToggle {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 0.25em;
  background: transparent;

  &:focus {
    transform: scale(1.15)
  }
}

.menuToggleIcon {
  color: var(--gray-xl)
}

.menuDropdownDivider {
  display: block;
  height: 1px;
  background: var(--shadow-dark-500);
}