
.menuContainer {
  min-height: 100%;
  position: relative;
}

.menuBody {
  height: 100%;
}

.menuDropdown {
  position: absolute;
  bottom: 0;

  --left: unset;
  --right: unset;

  left: var(--left);
  right: var(--right);

  background: var(--white);
  white-space: nowrap;

  --borderRadius: 0.3em;

  border: 1px solid var(--gray-xl);
  border-radius: var(--borderRadius);

  padding: 1.5em 1em;

  --transformX: 0;

  transform: translateY(calc(100% + 1.15em)) translateX(var(--transformX));

  display: flex;
  flex-direction: column;
  gap: .5em;
}

.menuDropdownRight {
  @extend .menuDropdown;

  --left: 0;
}

.menuDropdownLeft {
  @extend .menuDropdown;

  --right: 0;
}

.menuDropdownCenter {
  @extend .menuDropdown;

  --left: 50%;
  --transformX: -50%;
}

.menuDropdownItem {
  & > * {
    width: 100%;
  }
}

.menuToggle {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 0.25em;
  background: transparent;

  &:focus {
    transform: scale(1.15)
  }
}

.menuToggleIcon {
  color: var(--gray-xl)
}

.menuDropdownDivider {
  display: block;
  height: 1px;
  background: var(--shadow-dark-500);
}