
.panelContainer {
  font-size: var(--appFontSize);

  padding: 2em 3em 2em 0;
}

.panelLinks {
  width: 16em;
  background: var(--white);

  padding: 2em;
  border-radius: .35em;
  box-shadow: 0 0 5px var(--black-transparent-600);

  display: flex;
  flex-direction: column;
  gap: 2em;
}

.panelLinkContainer {

}

.panelLinksTitle {
  font-weight: 500;
  border-bottom: 1px solid var(--gray-700);

  padding: 0 0 .75em 0;
  display: flex;
  align-items: center;
  gap: .45em;

  margin-bottom: 1em;
}

.panelLinksTitleIcon {
  font-size: 1.15em;
  color: var(--gray-xl);
}

.panelLinksList {
  display: flex;
  flex-direction: column;
  gap: .6em;
}

.panelLinksListItem {

}

.panelLink {
  font-size: .75em;
  line-height: 150%;
  display: inline-block;
  color: var(--blue-700);

  position: relative;

  padding-left: 1em;

  &:before {
    content: '';
    position: absolute;
    width: .35em;

    aspect-ratio: 1;

    background: var(--blue-700);
    border-radius: 50%;

    top: .5em;
    left: 0;
  }
}
