
:root {
  --appFontSize: 1rem;
}

//

$containerWidth: 1600px;

// Colors

$primaryOrange: #F48023;
$primaryGray: #EAEAEA;
$grayButtonTextColor: #1682FD;
$mainBackground: #FAFAFA;

// Screen sizes

$lg: 1200px;
$md: 992px;
$sm: 772px;
$xs: 552px;


@media screen and (max-width: $lg) {
  :root {
    --appFontSize: 16px;
  }
}

@media screen and (max-width: $md) {
  :root {
    --appFontSize: 14px;
  }
}

@media screen and (max-width: $xs) {
  :root {
    --appFontSize: 12px;
  }
}
