
:root {
  --appFontSize: 1rem;

  --text-medium: hsl(210, 8%, 25%);

  --red-600: #C22E32FF;
  --red-700: #AB262AFF;
  --red-focus: rgba(194, 46, 50, 0.15);


  --blue-600: hsl(214, 100%, 55%);
  --blue-700: hsl(214, 100%, 45%);
}

//

$containerWidth: 1600px;

// Colors

$primaryOrange: #F48023;
$primaryGray: #EAEAEA;
$grayButtonTextColor: #1682FD;
$mainBackground: #FAFAFA;

// Screen sizes

$lg: 1200px;
$md: 992px;
$sm: 772px;
$xs: 552px;


@media screen and (max-width: $xs) {
  :root {
    --appFontSize: 16px;
  }
}
