@import "../../common/styles/variables";

.postsPage {
  font-size: var(--appFontSize);

  padding: 2em 3.5em;

  margin: 0 auto;

}

.filterContainer {
  width: 100%;
  max-width: 36em;
  display: flex;
  gap: .75em;

  margin: 0 auto 1.5em auto;
}

.filterSelected {
  color: #FFFFFF;
  background: #1682FD;
}

.filter {
  font-size: .75em;
  font-weight: 500;
  background: #EAEAEA;

  border-radius: 1.5em;

  color: #ADADAD;

  padding: .5em 1.25em;

  display: flex;
  align-items: center;
  gap: .45em;

  transition: background .25s ease-in-out,
              color .25s ease-in-out;

  &:hover {
   @extend .filterSelected;
  }
}

.postsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}