

.sidebarSearchContainer {
  width: 100%;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .5em;

  padding: 0 1.75em;

  overflow: hidden;
}

.sidebarSearchIcon {
  flex-grow: 1;
  flex-shrink: 0;
}
