

.form {
  max-width: 520px;
  padding: 1em 2em;

  display: flex;
  flex-direction: column;
  gap: 1em;
}

.formTitle {
  font-size: 2em;
  font-weight: 700;
}

.formText {
  font-size: 1.15em;
  font-weight: 300;
  line-height: 150%;
}

.formTitle {
  font-size: 2em;
  font-weight: 700;
}

.formText {
  font-size: 1.15em;
  font-weight: 300;
  line-height: 150%;
}