
.inputContainer {
  width: 100%;
  font-size: 18px;
  position: relative;


  --inputTopPadding: 1.55em;
  --inputInlinePadding: .8em;
  --inputBottomPadding: 0.4em;


  padding: var(--containerBlockPadding) 0;
}

.inputCommon {
  width: 100%;
  font-size: 0.9em;

  background: transparent;

  padding: var(--inputTopPadding) var(--inputInlinePadding) var(--inputBottomPadding);

}

.inputOutlined {
  @extend .inputCommon;

  border: 2px solid var(--gray-700);
  border-radius: .35em;
  transition: border .3s ease;

  &:focus {
    border: 2px solid var(--blue-700);
  }
}

.inputLined {
  @extend .inputCommon;

  border-bottom: 2px solid var(--gray-700);
  transition: border-bottom-color .3s ease;

  &:focus {
    border-bottom-color: var(--blue-600);
  }
}

.label {
  position: absolute;
  line-height: 125%;

  bottom: calc(var(--inputBottomPadding) + .35em);
  left: var(--inputInlinePadding);

  --skale: 1;

  opacity: var(--opacity-xl);

  transition: bottom .2s ease-out, left .2s ease-out, transform .2s linear;

  transform: scale(var(--skale));

  pointer-events: none;
}

:is(.inputCommon:focus, .inputCommon:not(:placeholder-shown)) ~ .label {
  bottom: calc(var(--inputBottomPadding) + 1.05em);
  left: calc(var(--inputInlinePadding) - .8em);

  --skale: 0.65;
}
