

.inputContainer {
  max-width: 100%;
  font-size: 1em;

  position: relative;

  display: flex;
  overflow: hidden;
}

.input {
  max-width: 100%;
  flex-grow: 1;
  font-size: .85em;

  display: block;

  position: relative;

  border: none;

  padding: 1.45em 2em .35em .8em;
}

.inputToggle {
  font-size: .8em;

  background: #ECF0F1;
  border: 2px solid #EAEAEA;

  border-radius: 0 .35em .35em 0;
  border-left: none;

  display: grid;
  place-content: center;
  padding: 0 .5em;
}

.inputLined {
  @extend .input;
  background: transparent;
  border-bottom: 2px solid #EAEAEA;

  &:focus {
    border-bottom: 2px solid #000000;
  }
}

.inputOutlined {
  @extend .input;
  border: 2px solid #EAEAEA;

  &:focus {
    box-shadow: 0 0 3px rgba(0,0,0, 0.25);
  }
}

.inputOutlinedPlain {
  @extend .inputOutlined;
  border-radius: .35em;
}

.inputOutlinedWithToggle {
  @extend .inputOutlined;
  border-radius: .35em 0 0 .35em;

  &:focus ~ .inputToggle {
    box-shadow: 0 0 3px rgba(0,0,0, 0.25);
  }
}

.inputLinedOnFocus {
  @extend .input;
  border-bottom: 2px solid transparent;

  &:focus {
    border-bottom: 2px solid #EAEAEA;
  }

  &:not(:placeholder-shown) {
    border-bottom: 2px solid #EAEAEA;
  }
}

.label {
  font-weight: 300;

  text-overflow: ellipsis;
  opacity: .55;
  transition: transform .2s  0s ease;

  white-space: nowrap;

  position: absolute;
  bottom: .7em;
  left: .75em;

  cursor: text;

  user-select: none;
}

.input:focus ~ .label,
.input:not(:placeholder-shown) ~ .label{
  font-weight: 500;
  color: rgba(0,0,0, .5);

  transform: translate(-23%, -85%) scale(.55);

  opacity: 1;
}
