.logoContainer {
    width: fit-content;
    font-size: 1em;
    padding: 0 .35em .3em .35em;
    position: relative;

    &:after {
        content: '';
        height: 35%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        --borderColor: var(--gray-800);
        --borderSize: 0.2em;

        border-left: var(--borderSize) solid var(--borderColor);
        border-right: var(--borderSize) solid var(--borderColor);
        border-bottom: var(--borderSize) solid var(--borderColor);
    }
}

.logoParticle {
    width: .8em;
    height: 0.15em;
    background: var(--orange-600);
    transform-origin: right bottom;
}

.logoParticle:nth-child(1) {
    transform: rotate(45deg) translateX(45%);
    margin-bottom: .22em;
}

.logoParticle:nth-child(2) {
    transform: rotate(35deg) translateX(20%);
    margin-bottom: .16em;
}

.logoParticle:nth-child(3) {
    transform: rotate(25deg) translateX(5%);
    margin-bottom: .1em;
}

.logoParticle:nth-child(4) {
    transform: rotate(12deg) translateX(0%);
    margin-bottom: .08em;
}

.logoParticle:nth-child(5) {
    //height: 0.155em;
}