

.selectContainer {
  max-width: 100%;
  font-size: 1em;

  overflow: hidden;
}

.select {
  border: 2px solid #EAEAEA;
  border-radius: .35em;

  position: relative;

  cursor: pointer;

  display: flex;
  align-items: center;
  flex-wrap: wrap;

  gap: .5em;

  padding: .25em .5em;

  &:focus {
    box-shadow: 0 0 3px rgba(0,0,0, 0.25);
  }
}

.selectItems {
  display: flex;
  gap: .5em;
}

.selectedItem {
  max-width: 10em;

  font-size: .7em;
  font-weight: 600;

  background: #1682fe;
  color: #ffffff;

  padding: .45em .75em;

  border-radius: 0.25em;

  display: flex;
  align-items: center;
  gap: 0.35em;

  overflow: hidden;
}

.selectedItemText {
  white-space: nowrap;
  flex: 1 1 7em;

  overflow: hidden;
  text-overflow: ellipsis;

  line-height: 150%;
}

.selectedItemIcon {
  flex: 0 0 1em;
}
