.header {
    font-size: var(--appFontSize);
    height: 4em;
    padding: 1em 2em;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.35);

    position: relative;
    z-index: 1000;
    background: #ffffff;
}

.headerLogo {
    display: flex;
    gap: 1em;
    align-items: flex-end;

    color: #000000;
}

.headerContainer {
    max-width: var(--containerWidth);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerControls {
    display: flex;
    align-items: center;
    gap: 1em;
}